h4 {
    color: blue;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.vbottom {
    display: inline-block;
    vertical-align: sub;
    float: none;
}

.no-margin-b {
    height: 16px;
}

.no-margin-t {
    margin-top: 0 !important;
}

.tank-name {
    font-size: .9em;
}

.water-meter {
    -webkit-appearance: none; //Crucial, this will disable the default styling in Webkit browsers
    height: 5px;
}

meter {
    -webkit-appearance: meter;
    box-sizing: border-box;
    display: inline-block;
    height: 0.5em;
    width: 5em;
    vertical-align: top;
    padding: 0;
    margin: 0 !important;
}

meter::-webkit-meter-inner-element {
    -webkit-appearance: inherit;
    box-sizing: inherit;
    height: 100%;
    width: 100%;
}

meter::-webkit-meter-bar {
    background: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#ddd), color-stop(0.20, #eee), color-stop(0.45, #ccc), color-stop(0.55, #ccc));
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

meter::-webkit-meter-optimum-value {
    background: -webkit-gradient(linear, left top, left bottom, from(#a6f5e5), to(#a6f5e5), color-stop(0.20, #71d6c2), color-stop(0.45, #2cc7a8), color-stop(0.55, #2cc7a8));
    //background: -webkit-gradient(linear, left top, left bottom, from(#ad7), to(#ad7), color-stop(0.20, #cea), color-stop(0.45, #7a3), color-stop(0.55, #7a3));  //original
    height: 100%;
    box-sizing: border-box;
}

meter::-webkit-meter-suboptimum-value {
    background: -webkit-gradient(linear, left top, left bottom, from(#fe7), to(#fe7), color-stop(0.20, #ffc), color-stop(0.45, #db3), color-stop(0.55, #db3));
    height: 100%;
    box-sizing: border-box;
}

meter::-webkit-meter-even-less-good-value {
    background: -webkit-gradient(linear, left top, left bottom, from(#f77), to(#f77), color-stop(0.20, #fcc), color-stop(0.45, #d44), color-stop(0.55, #d44));
    height: 100%;
    box-sizing: border-box;
}
